* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: rgb(48, 48, 48);
}
header {
  background-color: #2965f1;
  padding: 22.35px;
}
.header-logo {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.section_1 {
  background-color: #fafaff;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}
.main-image {
  max-width: 715px;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  color: #303030;
  margin-bottom: 20px;
}
.section_2 {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.select_city {
  appearance: none;
  background-image: url("./images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  width: 150px;
  padding-top: 9px;
  padding-bottom: 8px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #303030;
  margin-bottom: 25px;
}

.frameworks-list {
  padding-left: 20px;
  list-style-image: url("./images/arrow-list.svg");
}

.label {
  font-weight: 400;
  font-size: 16px;
  color: #303030;
}

.text-field {
  width: 330px;
  padding: 8px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  width: 330px;
  height: 36px;
}
.btn {
  border-radius: 5px;
  width: 125px;
  height: 36px;
  background-color: #2965f1;
}
.line {
  margin-top: 60px;
  margin-bottom: 60px;
}
.table-1 {
  border: 1px solid #95a1bb;
}

.th1 {
}
